*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    background-image: url(image/8.PNG);
}


nav {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    width: 100%;
    
}
nav h1{
    color: white;
    padding-left: 4em;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 9rem;
    margin-left:50em;
}
nav ul li {
    list-style-type: none;
}
nav ul li a{
   text-decoration: none;
   font-size: large;
   color: white;
}
nav ul li:hover{
   border-bottom: orange; 
}

.profile-card {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10% 0 0 32%;
    width: 30%;
    background-color: #333;
  }
  
  #avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  #username {
    margin: 5px 0;
    color: #fff;
  }
  
  #bio {
    color: white;
    margin-bottom: 20px;
    font-size: large;
  }
  
  #buttons button {
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
  }
  
  #buttons button:hover {
    background-color: orange;
  }
  