@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-image:url("image/16.PNG");
    justify-content: center;
    align-items: center;
}
form{
    width: 85%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2em;
}
.container-all{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
width: 40%;
padding: 5em;
background-color: burlywood;
cursor: pointer;
border-radius: 2em;
font-size: 20px;
transition: 0.5s;
margin-top: 8em;
}
.container-all h1{
    color: #fff;
}
button{
    margin: 30px;
    padding: 10px;
    border: none;
    background-color:rgba(237, 240, 243, 0.205);
    border-radius: 5px;
    font-size: 20px;
   border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
}

button:hover{
    background-color: orange;
    color: #fff;
}
input{
    padding: 1rem;
    border-radius: 25px;
    width: 80%;
    border: none;
    background-color: #fff;
    font-family: inherit;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    min-width: 300px;
    font-size: 1rem;
}